{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}
        <div class="row d-flex flex-column align-items-center justify-content-center">
                <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
            <div class="col-2">
                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control w-100" autocomplete="email" required autofocus>
                <label for="password">Password</label>
                <input type="password" name="_password" id="password" class="form-control mb-4 w-100" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
                <div class="d-flex justify-content-center mb-2">
                    <button class="btn btn-lg btn-primary align-items-center" type="submit">
                        Se connecter
                    </button>
                </div>
                <div class="d-flex justify-content-center">
                    <a href={{ path('app_register')}}>Inscription</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
