{% extends 'basebootstrap.html.twig' %}

{% block title %}Forêt{% endblock %}

{% block body %}
<style>
    #map-container {
        /* background-color:rgba(31, 186, 31, 0.88); */
        position: relative;
        width: 420px;
        height: 420px;
        margin: auto;
        /* border-radius: 10px; */
    }

    .resource-container {
        position: absolute;
        /* left / top définis dynamiquement */
    }

    #map-image {
        width: 100%;
        height: auto;
        display: block;
    }

    .resource-icon {
        position: absolute;
        width: 140px;
        height: 140px;
        transform: translate(-50%, -50%);
        /* pointer-events: none; */
    }

</style>
    <div class="p-2 mb-4 custom-bg-app custom-border-radius box-shadow-custom custom-max-width">
        <p>Champignon : <span id="champignon-resource">{{ resources.champignon }}</span><p>
    </div>

    <div class="text-center mb-4">
        <button id="prev-up">⬆️ Haut</button>
    </div>
    <div class="d-flex justify-content-center align-items-center margin-auto-center" style="max-width: 900px">
        <div class="">
            <button id="prev-left">⬅️ Gauche</button>
        </div>
        <div id="map-container"></div>
        <div class="">
            <button id="next-right">Droite ➡️</button>
        </div>
    </div>
    <div class="text-center mt-4">
    <button id="next-down">Bas ⬇️</button>
    </div>
    <audio id="harvest-sound" src="{{ asset('sounds/485718__spacejoe__coin-drop-2.wav') }}"></audio>
{% endblock %}
{% block script %}
<script>
    let resources = {{ forestResources|json_encode|raw }};
    window.baseImagePath = "{{ asset('images/') }}";
</script>
    <script src="{{ asset('js/forest/map.js') }}"></script>
{% endblock %}


