{% extends 'base.html.twig' %}

{% block title %}Détermination de l'alignement
{% endblock %}

{% block body %}
<div class="col-12">
    {{ form_start(form) }}

    <div id="questionnaire" >
        {% set total = form|length %}
        {% for child in form %}
            <div class="question-step" style="{% if not loop.first %}display: none;{% endif %}">
                <div class="progress-c custom-bg-app mb-2">
                    Question {{ loop.index }}/{{ total - 1 }}
                </div>
                {{ form_row(child) }}
            </div>
        {% endfor %}
    </div>

    <div class="mt-2 w3-center">
        <button type="button" id="nextBtn">Suivant</button>
        <button type="submit" id="submitBtn" style="display: none;" class="btn">Envoyer</button>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const steps = document.querySelectorAll(".question-step");
        const nextBtn = document.getElementById("nextBtn");
        const submitBtn = document.getElementById("submitBtn");
        let currentStep = 0;

        nextBtn.addEventListener("click", function () {
            if (currentStep < steps.length - 1) {
                steps[currentStep].style.display = "none";
                currentStep++;
                steps[currentStep].style.display = "block";

                if (currentStep === steps.length - 2) {
                    nextBtn.style.display = "none";
                    submitBtn.style.display = "inline-block";
                }
            }
        });
    });
</script>

{% endblock %}