<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Ibei
			{% endblock %}
		</title>
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">
		{# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> #}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href={{ asset('css/style.css') }}>
			<link rel="stylesheet" href={{ asset('css/app.css') }}>
			<link rel="stylesheet" href={{ asset('css/nature.css') }}>
			<link rel="stylesheet" href={{ asset('css/etape1.css') }}>
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	{# <body class="bg-dark text-white font-serif"> #}
	<body class="custom-bg-app font-serif d-flex flex-column fw-600">

		<!-- Barre du haut -->
		{# <header class="bg-secondary shadow-sm">
				        <div class="container-fluid px-4 py-3 d-flex justify-content-between align-items-center">
				            <div class="fs-2 fw-bold">⚔️ Royaume de Fer</div>
				            <nav class="d-flex gap-3">
				                <a href="#" class="text-white text-decoration-none">Carte</a>
				                <a href="#" class="text-white text-decoration-none">Alliances</a>
				                <a href="#" class="text-white text-decoration-none">Profil</a>
				            </nav>
				        </div>
				    </header> #}
			<div class="w3-black menu-top-height d-flex align-items-center justify-content-between border-bottom border-light "> 
				<div>
					<a href={{ path('app_home')}} class="w3-button">Ibei</a>
				</div>
				 {# <a href={{ path('app_ranking')}} class="w3-bar-item w3-button">Classement</a>  #}
				<div>
					<span class="">Jackpot minimum :
						{{ myapp.getJackpot() | format_number }}
						€
						{% if myapp.getJackpotWonDate() %}
							, remporté le {{ myapp.getJackpotWonDate() }}</span>
						{% else %}
							</span>
						{% endif %}
				</div>
				<div class="mr-4">
					{% if app.user %}
						<span class="">Joueur :
							{{user.getPseudo()}}</span>
						<a class="" href={{ path('app_logout') }}>Se déconnecter</a>
					{% else %}
						<a class="" href={{ path('app_login') }}>Se connecter</a>
						{% if myapp.getAppTest() != 'true' %}
							
							<a class="" href={{ path('app_register') }}>S'inscrire</a>
						{% endif %}
					{% endif %}
				</div>
			</div>
		{% if jackpot %}
			
			<div class="custom-modal custom-hide" id="modal-jackpot" tabindex="-1" role="dialog">
				<div class="modal-dialog d-flex align-items-center justify-content-center" role="document">
					<div class="modal-content">
						{# <div>
							<button type="button" class="close-modal-jackpot" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div> #}
						<div>
							<p class="mt-2 text-center">Jackpot gagné</p>
							<p class="text-center ml-4 mr-4">{{jackpot}}</p>
						</div>
						<div>
							<p class="w3-center mb-2"><button id="close-modal-jackpot" type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button></p>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		<div style="min-height: 20px;"></div>
		{# <div class="clear-flex"></div> #}
		<div class="d-flex flex-row">

			<!-- Menu latéral -->
			{# <aside class="bg-primary p-4 shadow-lg col-12 col-lg-3"> #}
				{% if app.user and app.user.nature %}
					<aside 
					class="shadow-lg box-shadow-custom custom-bg-{{ user.getNature() }} full-height-sidebar custom-border-radius px-3 py-2"> {# <h2 class="fs-4 text-warning mb-4">📜</h2> #}
					{#  #}
					<div class="d-flex flex-column align-items-center justify-content-center h-100">
						<div class="text-center box-shadow-custom  p-2 custom-border-radius custom-bg-white-light color-{{ user.getNature() }} mb-4">
							<p class="fw-bold">Alignement
								{{ user.getNature() | capitalize }}</p>
							<p class="text-center">{{ user.getDescription() | capitalize }}</p>
							<p class="fw-bold">Devise</p>
							<p class="text-center">{{ user.getDevise() | capitalize }}</p>
						</div>
						<div class="text-center box-shadow-custom  pb-2 pt-2 pl-4 pr-4 custom-border-radius custom-bg-white-light color-{{ user.getNature() }}">
							<p class="">
								<span class="fw-bold">{{user.getPseudo()}}</span>
							</p>
							<p id="money" class="d-flex align-items-center justify-content-center">
							<img src="{{ asset('images/euro ibei en cours 5.png') }}" alt="euro" class="icon icon-euro-side" />
								{# <span class="text-bold">Argent : </span> #}
								{{ user.getMoney() | format_number}}
								€</p>
							<p id="exp" class="">
								<span class="text-bold">Expérience : </span>
								{{ user.getExp() | format_number}}</p>
							<p id="unity-link" class="">
								<span class="text-bold">Lien-unités : </span>
								{{ user.getResourceByType('lien-unité') | format_number}}</p>
							<p id="ticket" class=" pb-2">
								<span class="text-bold">Tickets : </span>
								{{ user.getResourceByType('ticket') | format_number}}</p>
							<ul
								class="list-unstyled">
								{# <li><a href="#" class="text-white text-decoration-none d-block mb-2">🏰 Royaume</a></li> #}
								<li class="text-black step-button">
									{# <a href="#" class="box-shadow-custom text-decoration-none custom-border-radius pt-2 pb-2 px-5 mb-2 fw-bold custom-bg-{{ user.getNature() }} text-black">Etape 1</a> #}
									<a href="#" class="text-black text-decoration-none custom-border-radius pt-2 pb-2 mb-2 
									custom-nature-button custom-nature-button-{{ user.getNature() }}">Étape 1</a>
								</li>
								{#<li>
															<a href="#" class="text-decoration-none d-block mb-2">💰 Économie</a>
														</li>
														<li>
															<a href="#" class="text-decoration-none d-block mb-2">⚙️ Améliorations</a>
														</li>
														<li>
															<a href="#" class="text-decoration-none d-block mb-2">🛡️ Armée</a>
														</li>
														<li>
															<a href="#" class="text-decoration-none d-block mb-2">📦 Stock</a>
														</li> #}
							</ul>
						</div>
					</div>
				</aside>
			{% endif %}

			<!-- Contenu principal -->
			{# <main class="col-12 col-lg-9 p-4 bg-dark"> #}
			<main class="flex-grow-1 container-fluid">
				<div id="about" class="w3-container w3-padding-1 mb-4">
					<h1 class="w3-center">Ibei</h1>
					<p class="w3-center">Le jeu par navigateur aux multiples gameplays</p>
				</div>
				{% for label, messages in app.flashes %}
					{% set labelBootstrapClass = {
                'success': 'success',
                'error': 'danger',
                'warning': 'warning',
                'info': 'info'
            }[label]|default('secondary') %}
					{% for message in messages %}
						<div class="alert alert-{{ labelBootstrapClass }} text-center">
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
				<div class="ml-2">
					{% block body %}
						{# <h1 class="fs-3 fw-bold mb-4 text-warning">Bienvenue, Seigneur des Terres du Nord</h1>

						<!-- Grille des ressources -->
						<div
							class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
							<!-- Bloc de ressources -->
							<div class="col">
								<div class="card bg-secondary text-light">
									<div class="card-body">
										<h3 class="card-title mb-2">💰 Or</h3>
										<p class="card-text fs-4">5320</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card bg-secondary text-light">
									<div class="card-body">
										<h3 class="card-title mb-2">🌾 Nourriture</h3>
										<p class="card-text fs-4">2810</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card bg-secondary text-light">
									<div class="card-body">
										<h3 class="card-title mb-2">🪵 Bois</h3>
										<p class="card-text fs-4">1470</p>
									</div>
								</div>
							</div>
						</div>

						<!-- Exemple d'action -->
						<div class="mt-4">
							<button class="btn btn-warning text-dark py-2 px-4 rounded shadow-sm">
								Collecter les taxes 💰
							</button>
						</div> #}
					{% endblock %}
				</div>
			</main>
		</div>
		<div style="min-height: 20px;"></div>
		<footer class="custom-footer w3-black d-flex align-items-center justify-content-center">
			<div class="">2025 - Studio Zensaikeunde</div>
		</footer>

		<!-- Scripts JS de Bootstrap -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
			$(document).ready(function () {
				{% if myapp.getJackpotWon() %}
					$("#modal-jackpot").removeClass("custom-hide");
					// remettre jackpot is_claimend à false
				{% endif %}
				$("#close-modal-jackpot").click(function () {
					const $button = $(this);
					// $("#modal-jackpot").addClass("custom-hide");
					const url = '/app/reset-jackpot/' + '{{ token }}';
					// Appel AJAX vers la route Symfony
					$.ajax({
						url: url,
						method: 'GET', // ou POST selon ta route
						success: function (response) {
							$("#modal-jackpot").addClass("custom-hide");
						},
						error: function (err) {
							console.error('Erreur AJAX :', err);
						}
					});
				});
			});
		</script>
		{% block script %}{% endblock %}
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<!--	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  -->

	</body>
</html>
